@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*     font-family: 'Barlow Condensed', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap");
/* font-family: 'Barlow', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-red: hsl(0, 100%, 68%);
  --color-dark-blue: hsl(230, 29%, 20%);
  --color-dark-grayish-blue: hsl(230, 11%, 40%);
  --color-grayish-blue: hsl(231, 7%, 65%);
  --color-light-grayish-blue: hsl(207, 33%, 95%);
}

html {
  font-size: 62.5%;
}

h1,
a,
button {
  font-family: "Barlow Condensed", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Barlow", sans-serif;
  /* padding: 3rem; */
}

nav {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  margin-bottom: 3rem;
}

.logo {
  width: 2.5rem;
}

.ham-burger {
  position: fixed;
  right: 3rem;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6rem;
}

.mobile-img {
  width: 100%;
  overflow: hidden;
}

.mobile-img img {
  width: 138%;
}

.about-main {
  padding: 3rem;
}

.heading {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-family: "Barlow Condensed", sans-serif;
  gap: 2rem;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.heading span:nth-child(1) {
  font-weight: bold;
  color: var(--color-light-grayish-blue);
  background: var(--color-dark-blue);
  border-radius: 2rem;
  padding: 0.2rem 1rem;
}

.heading span:nth-child(2) {
  letter-spacing: 0.5rem;
  color: var(--color-grayish-blue);
}

.primary-heading {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--color-dark-blue);
  margin-bottom: 1.5rem;
}

.para {
  font-size: 2rem;
  color: var(--color-dark-grayish-blue);
  margin-bottom: 2rem;
}

button {
  background-color: var(--color-primary-red);
  color: var(--color-light-grayish-blue);
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-weight: bold;
  word-spacing: 0.2rem;
  margin-right: 1.5rem;
}

.preview {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--color-grayish-blue);
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
}

.bg {
    height: 67%;
    width: 52%;
    background: var(--color-light-grayish-blue);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    border-bottom-left-radius: 6rem;
}

.nav-link:last-child a{
    color: var(--color-grayish-blue);
    margin-bottom: 0;
}

/* UTILITIES */

.none {
  display: none;
}

.hamburger-menu {
  background-color: #fff;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

.nav-links {
  padding: 2.5rem 0;
  box-shadow: -.1rem .2rem .7rem var(--color-grayish-blue);
  position: absolute;
  top: 9rem;
  width: 87.5%;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li {
  margin-bottom: 2.1rem;
}

.dot {
  width: 80%;
  background-color: var(--color-grayish-blue);
  height: 1px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}

.nav-links li a{
  color: var(--color-dark-blue);
  font-weight: bold;
  letter-spacing: 1px;
}

.block {
  display: block;
}

@media (min-width: 768px) {
  .ham-burger {
    display: none;
  }

  .logo {
    width: 32px;
  }

  .nav-bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 12rem;
    padding-right: 20rem;
    margin-bottom: 5rem;
  }

  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 1rem;
    background-color: var(--color-grayish-blue);
  }

  .nav-links {
    display: flex;
    gap: 3.5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  .nav-link a {
    color: #000;
  }

  .main {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-left: 8rem;
    margin-bottom: 12rem;
  }

  .mobile-img {
    width: 100%;
  }

  .primary-heading {
    font-size: 6rem;
    margin-bottom: 2.5rem;
    line-height: 1;
  }

  .para {
    width: 70%;
    margin-bottom: 6rem;
  }

  button {
    padding: 1.3rem 3.5rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }

  .preview {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
  }
}
